@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $light-Mod-Clr;
}
//Header Css
.navbar {
  & .navbar-toggler {
    border: 0;
    &:focus {
      box-shadow: none !important;
    }
    & .toggler-icon{
      width: 30px;
      height: 3px;
      background-color: $btn-clr;
      display: block;
      transition:  .3s ease;
    } 
    & .middle-bar{
      margin: 5px;
      opacity: 0;    
    }
    & .top-bar {
      transform:  rotate(45deg);
      transform-origin: 10% 10%;
    }
    & .bottom-bar{
      transform: rotate(-45deg);
      transform-origin: 10% 10%;

    }
    &.collapsed {
      &  .top-bar , .bottom-bar{
        transform: rotate(0);
      }
      & .middle-bar{
        opacity: 1;
      }
    }
  }
 
  & .nav-item {
    padding: 0 0.8rem;
    font-family: $normalFont;
    font-weight: 500;
    cursor: pointer;
  }
  & .nav-icon {
    margin-left: auto;
    & button {
      border: 0;
      margin: 0 0.4rem;
      font-size: 17px;
      font-weight: 600;
      background-color: $light-Mod-Clr;
      color: #585858;
      cursor: pointer;
    }
    & .active {
      background-color: $btn-clr;
      border-radius: 7px;
      padding: 0.5rem 1.5rem;
      color: #ffffff !important;

    }
    & .fa-search{
      background-color: #F0F0F0;
      border-radius: 50%;
      padding: .7rem;
    }
  }
  
}

//Hero section css
.main-heading{
    font-family: $headingFont;
    
    & span{
      color: $btn-clr;
    }    
}
//chane again
.heading{
    font-family: $headingFont;
    margin-bottom: 3rem;
}
.main-para{
   & p{
    font-family:  $normalFont;
    font-weight: $normalFWeight;
    max-width: 20rem;
    width: 100%;
    margin-bottom: 0;
   }  
}
.hero-btn {
    background-color: $btn-clr;
    border: 0;
    border-radius: 4px;
    padding: 0.7rem 1rem;
    color: $light-Mod-Clr;
    font-family: $normalFont;
    font-weight: 600;
    margin: 1.5rem 0 !important;
   }
.img-container  {
  width: 100%;
  & img {
    width: 100%;
  } 
}

// gallary section css
 .slider-container{
  display: flex !important;
  flex-direction: row !important;
  width: 100%;  
  overflow-x: hidden;
  
  & .gallary-container__img  {  
    display: flex;
    width: 100%;    
    & img {
      width: auto;      
     height: 100%;

    }  
  }
 }
 
 .slider-btn{
  border: 0;
  padding: 1rem 1.3rem;
  margin: 0 .2rem;
  & i {
    color: $btn-clr ;
    
  }
 }
 
//article section
.fa-quote-left{
font-size: 4rem !important;
color:  $btn-clr;
margin-top: -30px;
}
.art-para{
  font-size: 2.5rem;
  font-family: $normalFont;
  font-weight: $normalFWeight;
}
.slider-container{
 align-items: center !important;

}
  



//Architects section css
.right-side__main{
    display: flex;
   align-items: center !important;
   & .right-side{
    justify-content: center !important;
}
}

//project section css
.project-bg{
  background: linear-gradient(45deg, transparent 20%, rgba(249, 249, 249, 0.8) 40%, rgba(249, 249, 249, 0.9) 60%, #F9F9F9 80%);


}
.right-side__project{
  display: flex;
  align-items: center !important;
 text-align: center;
}
.main-heading2{
  font-family: $headingFont;
  & span{
    color: $btn-clr;
  } 
}


@media screen and (max-width : 768px ){
  .art-para{
    font-size: 1.4rem;
   
  } 
  
  .slider-container .gallary-container__img:nth-child(n+3) {
    flex: 0 0 50%; /* Show the second and subsequent images with 50% width */
  }

}