$colors :  #585858, #b48888;
$dark-Mod-Clr :#2C2C2C; 
$light-Mod-Clr : #FFFFFF;
$btn-clr : #FD665E;
$headingFont : 'Playfair Display', serif;
$headingSize : 64px;
$normalFont : "Inter", sans-serif;
$normalFWeight : 400;
